body {
    font-family: Arial;
}

.columns {
  border: 1px solid grey;
  float: left;
  padding: 10px;
}

.cards-list {
  list-style: none;
  margin: 0;
  padding: 5px;    
}

.cards-list li {
    padding: 5px;
}

